<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <title>cart</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />

    <!--bootstrap-->
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!--coustom css-->
    <link href="css/cstyle.css" rel="stylesheet" type="text/css"/>
    <!--shop-kart-js-->
    <script src="js/simpleCart.min.js"></script>
    <!--default-js-->
    <script src="js/jquery.min.js"></script>
    <!--bootstrap-js-->
    <script src="js/bootstrap.min.js"></script>
    <!--script-->
    <!-- FlexSlider -->
    <script src="js/imagezoom.js"></script>
    <script defer src="js/jquery.flexslider.js"></script>
    <link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />

    <script>
        // Can also be used with $(document).ready()
        $(window).load(function() {
            $('.flexslider').flexslider({
                animation: "slide",
                controlNav: "thumbnails"
            });
        });
    </script>
    <!-- //FlexSlider-->
</head>
<body>
<header th:replace="common/template_heads::header(${main_status})"></header>
<!-- start main -->
<!-- check-out -->
<div class="check" >
    <div class="ccontainer">
        <div class="col-md-3 cart-total">
            <a class="continue" href="#">返回继续购物</a>
            <div class="price-details">
                <h3>账单</h3>
                <span>数量</span>
                <span class="total1"><td th:text="${session.productList.size()}"></td> </span>
                <div class="clearfix"></div>
            </div>
            <hr class="featurette-divider">
            <ul class="total_price" id="totaldiv">
                <li class="last_price"> <h4>总价</h4></li>
                <li class="last_price"><span><td th:text="${session.allTotal}"></td> </span></li>
                <div class="clearfix"> </div>
            </ul>
            <div class="clearfix"></div>
            <a class="order" href="/order/setOrder">下单</a>
        </div>

        <div class="col-md-9 cart-items">
            <h1>我的购物车</h1>
            <script>$(document).ready(function(c) {
                $('.close1').on('click', function(c){
                    $('.cart-header1').fadeOut('slow', function(c){
                        var proId = document.getElementById('close1').getAttribute("name");
                        $.ajax({
                            type: "POST",
                            url:"/removeItem",
                            data:{
                                productId: proId
                            },
                            dataType:"TEXT",
                            success:function(data){

                            }
                        });
                        $('.cart-header1').remove();
                        setTimeout(function (c) {
                            location.replace("/toCart");
                        },1000)
                    });

                });
            });
            </script>

            <script>$(document).ready(function(c) {
                $('.close2').on('click', function(c){
                    $('.cart-header2').fadeOut('slow', function(c){

                        var proId = document.getElementById('close2').getAttribute("name");
                        $.ajax({
                            type: "POST",
                            url:"/removeItem",
                            data:{
                                productId: proId
                            },
                            dataType:"TEXT",
                            success:function(data){

                            }
                        });
                        $('.cart-header2').remove();
                        location.replace("/toCart");
                    });

                });
            });
            </script>

            <script>$(document).ready(function(c) {
                $('.close3').on('click', function(c){
                    $('.cart-header3').fadeOut('slow', function(c){
                        var proId = document.getElementById('close3').getAttribute("name");
                        $.ajax({
                            type: "POST",
                            url:"/removeItem",
                            data:{
                                productId: proId
                            },
                            dataType:"TEXT",
                            success:function(data){

                            }
                        });
                        $('.cart-header3').remove();
                        location.replace("/toCart");
                    });

                });
            });
            </script>

            <script>$(document).ready(function(c) {
                $('.close4').on('click', function(c){
                    $('.cart-header4').fadeOut('slow', function(c){
                        var proId = document.getElementById('close4').getAttribute("name");
                        $.ajax({
                            type: "POST",
                            url:"/removeItem",
                            data:{
                                productId: proId
                            },
                            dataType:"TEXT",
                            success:function(data){

                            }
                        });
                        $('.cart-header4').remove();
                        location.replace("/toCart");
                    });

                });
            });
            </script>

            <th:block th:each="cartItem,index:${session.items}">
                <th:block th:if="${cartItem.getClass().getName()=='org.csu.greenfarm.domain.Farm'}">
                    <div th:class="'cart-header'+${index.count}">
                        <div th:class="'close'+${index.count}" th:id="'close'+${index.count}" th:name="${cartItem.getFarmId()}">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true" ></span>
                        </div>
                        <div class="cart-sec simpleCart_shelfItem">
                            <div class="cart-item cyc">
                                <img class="img-responsive" th:src="@{'/images/' + ${cartItem.getFarm_photo()}}" />
                            </div>
                            <div class="cart-item-info">
                                <ul class="qty">
                                    <th:block th:each="item:${session.productList}" >
                                        <th:block th:if="${item.getProductId()==cartItem.getFarmId()}">
                                            <li>
                                                <p >数量:
                                                    <button th:class="addbtn+${index.count}" style="outline: none;border: none;background: none;">
                                                        <img th:src="@{'/images/addbtn.png'}" />
                                                    </button>
                                                <td th:text="${item.getNum()}"></td>
                                                     <button th:class="subbtn+${index.count}" style="outline: none;border: none;background:none;">
                                                        <img th:src="@{'/images/subbtn.png'}" />
                                                    </button>
                                                </p>
                                            </li>
                                        </th:block>
                                    </th:block>
                                    <li><p>单价 <td th:text="${cartItem.getFarm_price()}"></td></p></li>
                                </ul>
                                <div class="delivery">
                                    <p>地址: <td th:text="${cartItem.getFarm_address()}"></td></p>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </th:block>
                <th:block th:if="${cartItem.getClass().getName()=='org.csu.greenfarm.domain.Product'}">
                    <div th:class="'cart-header'+${index.count}">
                        <div th:class="'close'+${index.count}" th:id="'close'+${index.count}" th:name="${cartItem.getProductId()}">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true" ></span>
                        </div>
                        <div class="cart-sec simpleCart_shelfItem">
                            <div class="cart-item cyc">
                                <img class="img-responsive" th:src="@{'/images/' + ${cartItem.getProduct_photo}}" />
                            </div>
                            <div class="cart-item-info">
                                <ul class="qty">
                                    <th:block th:each="item:${session.productList}" >
                                        <th:block th:if="${item.getProductId()==cartItem.getProductId()}">
                                            <li>
                                                <p >数量:
                                                    <button th:class="addbtn+${index.count}" style="outline: none;border: none;background: none;">
                                                        <img th:src="@{'/images/addbtn.png'}" />
                                                    </button>
                                                <td th:text="${item.getNum()}"></td>
                                                <button th:class="subbtn+${index.count}" style="outline: none;border: none;background: none;">
                                                    <img th:src="@{'/images/subbtn.png'}" />
                                                </button>
                                                </p>
                                            </li>
                                        </th:block>
                                    </th:block>
                                    <li><p>单价 <td th:text="${cartItem.getProduct_price()}"></td></p></li>
                                </ul>
                                <div class="delivery">
                                    <p>产地: <td th:text="${cartItem.getProduct_origin()}"></td></p>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </th:block>
            </th:block>
        </div>
        <div class="clearfix" > </div>
    </div>
</div>

<footer th:replace="common/template_heads::footer(${main_product},${main_farm})"></footer>

<script>
    $('.addbtn1').on('click',function (c) {
        var proId = document.getElementById('close1').getAttribute("name");
        $.ajax({
            type:"POST",
            url:"/addItem",
            data:{
                productId:proId
            },
            dataType:"TEXT",
            success:function (data) {

            }
        });
        setTimeout(function (c) {
            location.replace("/toCart");
        },500)
    })
</script>
<script>
    $('.subbtn1').on('click',function (c) {
        var proId = document.getElementById('close1').getAttribute("name");
        $.ajax({
            type:"POST",
            url:"/subItem",
            data:{
                productId:proId
            },
            dataType:"TEXT",
            success:function (data) {

            }
        });
        setTimeout(function (c) {
            location.replace("/toCart");
        },500)
    })
</script>
<script>
    $('.addbtn2').on('click',function (c) {
        var proId = document.getElementById('close1').getAttribute("name");
        $.ajax({
            type:"POST",
            url:"/addItem",
            data:{
                productId:proId
            },
            dataType:"TEXT",
            success:function (data) {

            }
        });
        setTimeout(function (c) {
            location.replace("/toCart");
        },500)
    })
</script>
<script>
    $('.subbtn2').on('click',function (c) {
        var proId = document.getElementById('close1').getAttribute("name");
        $.ajax({
            type:"POST",
            url:"/subItem",
            data:{
                productId:proId
            },
            dataType:"TEXT",
            success:function (data) {

            }
        });
        setTimeout(function (c) {
            location.replace("/toCart");
        },500)
    })
</script>
<script>
    $('.addbtn3').on('click',function (c) {
        var proId = document.getElementById('close1').getAttribute("name");
        $.ajax({
            type:"POST",
            url:"/addItem",
            data:{
                productId:proId
            },
            dataType:"TEXT",
            success:function (data) {

            }
        });
        setTimeout(function (c) {
            location.replace("/toCart");
        },500)
    })
</script>
<script>
    $('.subbtn3').on('click',function (c) {
        var proId = document.getElementById('close1').getAttribute("name");
        $.ajax({
            type:"POST",
            url:"/subItem",
            data:{
                productId:proId
            },
            dataType:"TEXT",
            success:function (data) {

            }
        });
        setTimeout(function (c) {
            location.replace("/toCart");
        },500)
    })
</script>
<script>
    $('.addbtn4').on('click',function (c) {
        var proId = document.getElementById('close1').getAttribute("name");
        $.ajax({
            type:"POST",
            url:"/addItem",
            data:{
                productId:proId
            },
            dataType:"TEXT",
            success:function (data) {

            }
        });
        setTimeout(function (c) {
            location.replace("/toCart");
        },500)
    })
</script>
<script>
    $('.subbtn4').on('click',function (c) {
        var proId = document.getElementById('close1').getAttribute("name");
        $.ajax({
            type:"POST",
            url:"/subItem",
            data:{
                productId:proId
            },
            dataType:"TEXT",
            success:function (data) {

            }
        });
        setTimeout(function (c) {
            location.replace("/toCart");
        },500)
    })
</script>
</body>
</html>