<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>订单填写</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <script src="/js/jquery.min.js"></script>
    <!-- start top_js_button -->
    <script type="text/javascript" src="js/move-top.js"></script>
    <script type="text/javascript" src="js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event){
                event.preventDefault();
                $('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
            });
        });

        function pay()
        {
            document.form1.action="/pay/toPay";
            document.form1.getElementById("isSet").setAttribute(value, null);
            document.form1.submit();
        }

        function wait() {
            document.form1.action = "/account/order";
            document.form1.submit();
        }
    </script>
</head>
<body>
<header th:replace="common/template_heads::header(${session.status})"></header>
<section id="section1" class="main w12">
<div id="aboutOrder">
    <form class="form" name="form1">
        <ul>
            <li>
                <label  class="fl mr2">订单编号:</label>
                &nbsp;
                <input name="preorderId" th:value="${session.orderId}">
            </li>
            &nbsp;
            <li>
                <label  class="fl mr2">手机号码:</label>
                &nbsp;
                <input th:value="${session.account.getAccount()}" type="text" tabindex="3" name="account" id="account" autocomplete="off" maxlength="11" onfocus="usercenter_check.hide_note('tel-tip')" onblur="usercenter_check.check_tel()" style="color: rgb(51, 51, 51);" class="txt-m fl "onclick="if(value==defaultValue){value='';this.style.color='#333'}">
            </li>
            &nbsp;
            <li>
                <label class="fl mr2">收货地址:</label>
                &nbsp;
                <input th:value="${session.account.getRecadd()}" type="text" tabindex="3" name="recadd" id="email" autocomplete="off" maxlength="11" style="color: rgb(51, 51, 51);" class="txt-m fl " value="" onclick="if(value==defaultValue){value='';this.style.color='#333'}">
            </li>
            &nbsp;
            <li>
                <label class="fl mr2">订单总额:</label>
                &nbsp;
                <input th:value="${session.allTotal}" disabled="true">
            </li>
            &nbsp;
            <li>
                <label class="fl mr2">备&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注:</label>
                &nbsp;
                <input th:value="请输入备注信息">
            </li>
            &nbsp;
            <li class="clr">
                <input id="sub" class="db fl next"  type="submit" onclick="pay()" value="去付款">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input id="suba" class="db fl next" type="submit" onclick="wait()" value="先等等">
            </li>
        </ul>

    </form>

</div>
</section>

<script type="text/javascript" src="/js/three.js"></script>
<script type="text/javascript">
    var SEPARATION = 100, AMOUNTX = 50, AMOUNTY = 50;
    var container;
    var camera, scene, renderer;
    var particles, particle, count = 0;
    var mouseX = 0, mouseY = 0;
    var windowHalfX = window.innerWidth / 2;
    var windowHalfY = window.innerHeight / 2;
    init();
    animate();
    function init() {
        container = document.createElement( 'div' );
        document.body.appendChild( container );
        camera = new THREE.PerspectiveCamera( 75, window.innerWidth / window.innerHeight, 1, 10000 );
        camera.position.z = 1000;
        scene = new THREE.Scene();
        particles = new Array();
        var PI2 = Math.PI * 2;
        var material = new THREE.ParticleCanvasMaterial( {
            color: 0xfadfad2,
            program: function ( context ) {
                context.beginPath();
                context.arc( 0, 0, 1, 0, PI2, true );
                context.fill();
            }
        } );
        var i = 0;
        for ( var ix = 0; ix < AMOUNTX; ix ++ ) {
            for ( var iy = 0; iy < AMOUNTY; iy ++ ) {
                particle = particles[ i ++ ] = new THREE.Particle( material );
                particle.position.x = ix * SEPARATION - ( ( AMOUNTX * SEPARATION ) / 2 );
                particle.position.z = iy * SEPARATION - ( ( AMOUNTY * SEPARATION ) / 2 );
                scene.add( particle );
            }
        }
        renderer = new THREE.CanvasRenderer();
        renderer.setSize( window.innerWidth, window.innerHeight );
        container.appendChild( renderer.domElement );
        document.addEventListener( 'mousemove', onDocumentMouseMove, false );
        document.addEventListener( 'touchstart', onDocumentTouchStart, false );
        document.addEventListener( 'touchmove', onDocumentTouchMove, false );
        window.addEventListener( 'resize', onWindowResize, false );
    }
    function onWindowResize() {
        windowHalfX = window.innerWidth / 2;
        windowHalfY = window.innerHeight / 2;
        camera.aspect = window.innerWidth / window.innerHeight;
        camera.updateProjectionMatrix();
        renderer.setSize( window.innerWidth, window.innerHeight );
    }
    function onDocumentMouseMove( event ) {
        mouseX = event.clientX - windowHalfX;
        mouseY = event.clientY - windowHalfY;
    }
    function onDocumentTouchStart( event ) {
        if ( event.touches.length === 1 ) {
            event.preventDefault();
            mouseX = event.touches[ 0 ].pageX - windowHalfX;
            mouseY = event.touches[ 0 ].pageY - windowHalfY;
        }
    }
    function onDocumentTouchMove( event ) {
        if ( event.touches.length === 1 ) {
            event.preventDefault();
            mouseX = event.touches[ 0 ].pageX - windowHalfX;
            mouseY = event.touches[ 0 ].pageY - windowHalfY;
        }
    }
    function animate() {
        requestAnimationFrame( animate );
        render();
    }
    function render() {
        camera.position.x += ( mouseX - camera.position.x ) * .05;
        camera.position.y += ( - mouseY - camera.position.y ) * .05;
        camera.lookAt( scene.position );
        var i = 0;
        for ( var ix = 0; ix < AMOUNTX; ix ++ ) {
            for ( var iy = 0; iy < AMOUNTY; iy ++ ) {
                particle = particles[ i++ ];
                particle.position.y = ( Math.sin( ( ix + count ) * 0.3 ) * 50 ) + ( Math.sin( ( iy + count ) * 0.5 ) * 50 );
                particle.scale.x = particle.scale.y = ( Math.sin( ( ix + count ) * 0.3 ) + 1 ) * 2 + ( Math.sin( ( iy + count ) * 0.5 ) + 1 ) * 2;
            }
        }
        renderer.render( scene, camera );
        count += 0.1;
    }
</script>
<div>
    <canvas width="2432" height="1000" style="width: 1216px; height: 600px;"></canvas>
</div>


<!--<section id="section1" class="main w12">-->

<!--    <div class="inputsec">-->
<!--        <form name="form1">-->
<!--            <ul>-->
<!--                <li>-->
<!--                    <label  class="fl mr2">订单编号</label>-->
<!--                    &nbsp-->
<!--                    <input name="preorderId" th:value="${session.orderId}" type="hidden">-->
<!--                    <input id="isSet" type="hidden" name="isSet" value="true">-->
<!--                </li>-->
<!--                <li>-->
<!--                    <label  class="fl mr2">手机号码</label>-->
<!--                    &nbsp-->
<!--                    <input th:value="${session.account.getAccount()}" type="text" tabindex="3" name="account" id="account" autocomplete="off" maxlength="11" onfocus="usercenter_check.hide_note('tel-tip')" onblur="usercenter_check.check_tel()" style="color: rgb(51, 51, 51);" class="txt-m fl "onclick="if(value==defaultValue){value='';this.style.color='#333'}">-->
<!--                </li>-->
<!--                <li>-->
<!--                    <label class="fl mr2">收货地址</label>-->
<!--                    <input th:value="${session.account.getRecadd()}" type="text" tabindex="3" name="recadd" id="email" autocomplete="off" maxlength="11" style="color: rgb(51, 51, 51);" class="txt-m fl " value="" onclick="if(value==defaultValue){value='';this.style.color='#333'}">-->
<!--                </li>-->
<!--                <li>-->
<!--                    <label class="fl mr2">订单信息:</label>-->

<!--                </li>-->
<!--                <li>-->
<!--                    <label class="fl mr2">备注</label>-->
<!--                    <textarea id="text" name="remarks"></textarea>-->
<!--                </li>-->
<!--                <li class="clr">-->
<!--                    <label class="db fl">&nbsp;</label>-->
<!--                    <input id="sub" class="db fl next"  type="submit" onclick="pay()" value="去付款">-->
<!--                    <input id="suba" class="db fl next" type="submit" onclick="wait()" value="先等等">-->
<!--                </li>-->
<!--            </ul>-->
<!--        </form>-->
<!--    </div>-->
<!--</section>-->
<footer th:replace="common/template_heads::footer(${session.main_product},${session.main_farm})"></footer>
</body>
</html>