.user-info {
	height: 100px;
	width: 100%;
	background-size: cover;
}

.w1200 {
	width: 1200px;
	height: auto;
	margin: 0 auto;
	overflow: hidden;
	font-size: 16px;
}
.user-headface {
	float: left;
	width: 75px;
	height: 75px;
	overflow: hidden;
	border-radius: 50%;
	margin-top: 12px;
}
.user-account {
	float: left;
	margin-top: 25px;
	padding-left: 20px;
	color: #666;
}
.tip {
	margin-bottom: 5px;
}
.account span {
	font-size: 13px;
	padding-right: 20px;
}
.user-modify {
	float: right;
	margin-top: 30px;
	width: 110px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	color: #fff;
	background: #32AC9D;
	border-radius: 5px;
}
.left {
	float: left;
	width: 200px;
	height: auto;
	overflow: hidden;
	margin-right: 20px;
	background: #fff;
}

.left ul li {
	width: 100%;
	height: 50px;
	line-height: 50px;
	color: #666666;
}

.left ul li a {
	display: block;
	width: 100%;
	height: 100%;
	padding-left: 20px;
}

.left ul li a i {
	font-size: 20px;
	padding-right: 5px;
}

.left ul li a.active {
	border-left: 3px solid #32AC9D;
	background: #f3f7ed;
	color: #32AC9D;
}
.left ul li a:hover {
	border-left: 3px solid #32AC9D;
	background: #f3f7ed;
	color: #32AC9D;
}

.tap {
	width: 100%;
	height: 40px;
	border-bottom: 2px solid #32AC9D;
	background: #f9fafa;
}
.tap span {
	display: block;
	width: 128px;
	height: 100%;
	line-height: 40px;
	color: #fff;
	text-align: center;
	background: #32AC9D;
}
.right {
	float: left;
	width: 980px;
	height: auto;
	overflow: hidden;
}

.right .tap span {
	display: block;
	width: 128px;
	height: 100%;
	line-height: 40px;
	color: #fff;
	text-align: center;
	background: #32AC9D;
}
.right .container {
	width: 100%;
	height: auto;
	overflow: hidden;
	background: #fff;
}
.right .container .no-doc {
	width: 100%;
	height: 350px;
	text-align: center;
	color: #999;
	font-size: 13px;
}
.right .container .no-doc img {
	padding-top: 80px;
}
a{
	color: #666666;
}
a{
	color: #666666;
}