body{
	margin:0;
	padding:0;
	background: no-repeat;
	background-size:100%;
}
html{
	height: 100%;
}
.form{
	position:absolute;
	left:50%;
	margin-top:10%;
	width:35%;
	height:300px;
	border-radius:25px;
	color: rgb(0, 0, 0);
	text-align:center;
	padding:65px;
	background-color: rgba(110, 110, 110, 0.37);;
	box-shadow: 0px 0px 15px #00000096;
}
.input_1{
	outline:none;
	margin-top:10px;
	border:0;
	width:300px;
	height:50px;
	border-radius:15px;
	padding-left:15px;
	font-size:18px;
	color: rgba(171, 171, 171, 0.84);
}
.input_2{
	margin:20px 0px;
	border:0;
	background:rgba(171, 171, 171, 0.84);
}
h1{
	color: #060606;
}
/*单选*/
.radio_box{ display:inline-block; position:relative;margin:20px 5px;}
.radio_box label{ width:15px; height:15px; position:absolute; top:0; left:0; border:2px solid #3A5367; border-radius:50%; background:#fff; cursor:pointer;}
.radio_box input:checked + label:after{ content:''; width:9px; height:9px; position:absolute; top:3px; left:3px; background:#3A5367; border-radius:50%;}
.check_box em{ margin:0 0 0 5px;}
.input_3{
	outline: none;
	width:50px;
	height:30px;
	border:0;
	padding:5px 7px;
	background:#fff;
	border-radius:20px;
	margin:0px 10px;
}

/*基本清零*/

.clr:after{content:'';display:block;height:0;clear:both;}
.clr{*zoom:1;}
ul,li{
	list-style:none;}
img{ border:none;}
input,button,select,textarea{outline:none}
textarea{resize:none}
a{
	text-decoration:none;}
a:hover{
	text-decoration:none;
	-webkit-transition:  0.4s linear !important;
	-moz-transition:  0.4s linear !important;
	-o-transition:  0.4s linear !important;
	transition:  0.4s linear !important; }

/* 设置HTML5元素为块 */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block;padding:0px; margin:0px; border:none;}

/* 超出隐藏 */
.overflow{ overflow:hidden;}

/* 点击去除阴影 */
a,button,input,i{-webkit-tap-highlight-color:rgba(0,0,0,0); -moz-tap-highlight-color:rgba(0,0,0,0); -ms-tap-highlight-color:rgba(0,0,0,0);tap-highlight-color:rgba(0,0,0,0);}
a{cursor:pointer;
	color:#333;
}

/* 基础样式 */
.fl{ float: left; }
.fr{ float: right;}
.db{ display:block;}
.w12{width:1200px;
	margin:0 auto;}
div{
	background:none;
}
/*开始*/
body{
	margin:0 auto;
	font-size:14px;
	font-family:"微软雅黑", Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#666;
}
header{
	background:#fff;
	width:100%;
	height:auto;
}
.logo{
	padding:20px auto 20px 20px;}
.logofr{
	margin-top:25px;
	padding-right: 20px;
	color: #666;
	line-height: 25px;
	text-align: right;}
.logofr a{
	color:#666;}
.logofr a:hover{
	color:#007dcd;
	text-decoration:underline;}
.header{
	margin:0 auto;
	height:98px;
}
.head_border{
	width:100%;
	height:11px;}
.login{
	height:60px;
	line-height:60px;
	padding-right:10px;
	color:#333;}
.logbtn{
	color:#333;
	width: 76px;
	line-height: 40px;
	margin-top: 8px;
	height: 40px;
	text-align: center;
	border: solid 1px #333;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
a.logbtn:hover{
	color:#fff;
	border-color:#fff;}
.main{
	background:#FFF;
	padding:0;
	height:auto;}
.title{
	width:100%;
	text-align:center;
	height:60px;
	font-size:20px;
	line-height:60px;
}
.title1{
	width:50%;
	color:#fff;
	background:#007dcd;
}
a.title1:hover{
	color:#cfecfe;}
a.title1:active{
	color:#fff;}
.title2{
	width:50%;
	color:#666;
	background:#f3f3f3;
}
a.title2:hover{
	color:#007dcd;}
a.title2:active{
	color:#333;}
.tit2{
	width:100%;
	height:auto;}
.tit2 span{
	display:block;
	width:50%;
	height:20px;

}
.step{
	height:146px;

}
.inputsec{
	width: 840px;
	margin: 0 auto;
	background: #fff;
	padding: 0 0 100px 360px;
}
.inputsec ul,.inputsec ul li{
	display:block;
	min-width:400px;}
.inputsec ul li{
	clear: both;
	zoom: 1;
	overflow: visible;
	height:54px;
	line-height:50px;
	color:#333;}
.inputsec ul li label{
	display:block;
	width:72px;
	text-align:right;}
.txt-m {
	margin:10px 12px 0 0;
	height: 28px;
	line-height: 28px;
	padding: 2px 3px;
	padding-left: 15px;
	border: 1px solid #dedede;
	color: #666;
	width: 292px;
	font-size: 14px;}
.yzm{
	margin:10px 12px 0 0;
	height: 32px;
	line-height: 32px;
	border: 1px solid #dedede;
	width: 310px;}
.txt-y,.txt-j{
	line-height: 28px;
	height: 28px;
	padding-top: 2px;
	padding-left:15px;
	color: #666;
	width: 160px;
	border:none;
	font-size: 14px;}
.chg{display:block;
	color:#007dcd;}
a.chg:hover{
	color:#249deb;}
a.chg:active{
	color:#333;}
.mt2{
	margin-top:2px;}
.mr2{
	margin-right:3px;}
.msg-normal{
	color:#777;}
.msg-error{
	color:#e82020;}
.msg-info{
	color:#e82020;}
.yzm2{
	background:#f5f5f5;
	margin:10px 12px 0 0;
	height: 32px;
	line-height: 32px;
	border: 1px solid #dedede;
	width: 200px;}
.txt-j{
	background:#f5f5f5;}
.send{
	width: 96px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	margin: 10px 0 0 0;
	border: 1px #dedede solid;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;}
a.send:hover{
	border: 1px #007dcd solid;
	color:#249deb;}
a.send:active{
	border: 1px #dedede solid;
	color:#333;}
.next{
	margin-top:8px;
	width:300px;
	height:42px;
	line-height:42px;
	text-align:center;
	color:#fff;
	font-size:16px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background:#1ca521;}
a.next:hover{
	background:#27c42d;}
a.next:active{
	background:#19861d;}

/*注册成功*/
.success{
	margin:0 auto;
	width:426px;
	height:168px;
	padding-bottom:100px;
}
.success ul,.success ul li{
	display:block;
	width:426px;
	text-align:center;
	color:#333;}
.success ul li{
	height:56px;
	line-height:56px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;  }
.suc1{
	font-size:20px;}
.success ul li em{
	color:#007dcd;
}
.mr3{
	margin-right:10px;}
.suc2{
	width:300px !important;
	height:36px !important;
	padding:10px 63px;}
.mr4{
	margin-right:30px;
	_margin-right:15px;}
.success ul li a{
	display:block;
	width:135px;
	line-height:36px;
	font-size:16px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	color:#fff;
	background:#007dcd;}
.success ul li a:hover{
	background:#2896dd;
}
.success ul li a:active{
	background:#007dcd;
}


#text{
	width:305px;
	margin-top:17px;
	height:100px;
	border: 1px solid #dedede;
	float: left;

}

#section1{
	padding-top:10%;
}

#section1 form ul li{
	padding-top:3%
}

#sub{
	background-color:#32AC9D;
	width:150px;
	margin-right:10px;
}
#suba{
	background-color:#62AC9C;
	width:150px;
}