<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2019
  ~ User: Duo.y
  ~ File: FarmMapper.xml
  ~ Date: 2019/09/02 15:32:02
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.csu.greenfarm.persistence.FarmMapper">
    <cache />

    <select id="getAllFarm" resultType="org.csu.greenfarm.domain.Farm">
        SELECT * FROM farm
    </select>
    <select id="getFarmByFarmId"  parameterType="java.lang.String" resultType="org.csu.greenfarm.domain.Farm">
        SELECT * FROM farm where farmid=#{farmId}
    </select>
    <select id="getAccountByMail"  parameterType="java.lang.String" resultType="org.csu.greenfarm.domain.Farm">
        SELECT * FROM farm where farm_item LIKE #{farm_item}
    </select>

</mapper>